# Data discovery and cleaning

In [1]:

import pandas as pd

pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 50)

In [2]:
df_2015 = pd.read_csv('./../input/2015-building-energy-benchmarking.csv')

df_2015.head()

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,...,2010 Census Tracts,Seattle Police Department Micro Community Policing Plan Areas,City Council Districts,SPD Beats,Zip Codes
0,1,2015,NonResidential,Hotel,MAYFLOWER PARK HOTEL,...,NaN,14.0,NaN,31.0,18081
1,2,2015,NonResidential,Hotel,PARAMOUNT HOTEL,...,NaN,14.0,NaN,31.0,18081
2,3,2015,NonResidential,Hotel,WESTIN HOTEL,...,NaN,56.0,NaN,31.0,18081
3,5,2015,NonResidential,Hotel,HOTEL MAX,...,NaN,56.0,NaN,31.0,18081
4,8,2015,NonResidential,Hotel,WARWICK SEATTLE HOTEL,...,NaN,56.0,NaN,31.0,19576

In [3]:
print(df_2015.columns)
print(df_2015.shape)
print(df_2015.dtypes)
df_2015.describe()

Index(['OSEBuildingID', 'DataYear', 'BuildingType', 'PrimaryPropertyType',
       'PropertyName', 'TaxParcelIdentificationNumber', 'Location',
       'CouncilDistrictCode', 'Neighborhood', 'YearBuilt', 'NumberofBuildings',
       'NumberofFloors', 'PropertyGFATotal', 'PropertyGFAParking',
       'PropertyGFABuilding(s)', 'ListOfAllPropertyUseTypes',
       'LargestPropertyUseType', 'LargestPropertyUseTypeGFA',
       'SecondLargestPropertyUseType', 'SecondLargestPropertyUseTypeGFA',
       'ThirdLargestPropertyUseType', 'ThirdLargestPropertyUseTypeGFA',
       'YearsENERGYSTARCertified', 'ENERGYSTARScore', 'SiteEUI(kBtu/sf)',
       'SiteEUIWN(kBtu/sf)', 'SourceEUI(kBtu/sf)', 'SourceEUIWN(kBtu/sf)',
       'SiteEnergyUse(kBtu)', 'SiteEnergyUseWN(kBtu)', 'SteamUse(kBtu)',
       'Electricity(kWh)', 'Electricity(kBtu)', 'NaturalGas(therms)',
       'NaturalGas(kBtu)', 'OtherFuelUse(kBtu)',
       'GHGEmissions(MetricTonsCO2e)', 'GHGEmissionsIntensity(kgCO2e/ft2)',
       'DefaultData', 'Comment', 'ComplianceStatus', 'Outlier',
       '2010 Census Tracts',
       'Seattle Police Department Micro Community Policing Plan Areas',
       'City Council Districts', 'SPD Beats', 'Zip Codes'],
      dtype='object')
(3340, 47)
OSEBuildingID                                                      int64
DataYear                                                           int64
BuildingType                                                      object
PrimaryPropertyType                                               object
PropertyName                                                      object
TaxParcelIdentificationNumber                                     object
Location                                                          object
CouncilDistrictCode                                                int64
Neighborhood                                                      object
YearBuilt                                                          int64
NumberofBuildings                                                  int64
NumberofFloors                                                   float64
PropertyGFATotal                                                   int64
PropertyGFAParking                                                 int64
PropertyGFABuilding(s)                                             int64
ListOfAllPropertyUseTypes                                         object
LargestPropertyUseType                                            object
LargestPropertyUseTypeGFA                                        float64
SecondLargestPropertyUseType                                      object
SecondLargestPropertyUseTypeGFA                                  float64
ThirdLargestPropertyUseType                                       object
ThirdLargestPropertyUseTypeGFA                                   float64
YearsENERGYSTARCertified                                          object
ENERGYSTARScore                                                  float64
SiteEUI(kBtu/sf)                                                 float64
SiteEUIWN(kBtu/sf)                                               float64
SourceEUI(kBtu/sf)                                               float64
SourceEUIWN(kBtu/sf)                                             float64
SiteEnergyUse(kBtu)                                              float64
SiteEnergyUseWN(kBtu)                                            float64
SteamUse(kBtu)                                                   float64
Electricity(kWh)                                                 float64
Electricity(kBtu)                                                float64
NaturalGas(therms)                                               float64
NaturalGas(kBtu)                                                 float64
OtherFuelUse(kBtu)                                               float64
GHGEmissions(MetricTonsCO2e)                                     float64
GHGEmissionsIntensity(kgCO2e/ft2)                                float64
DefaultData                                                       object
Comment                                                           object
ComplianceStatus                                                  object
Outlier                                                           object
2010 Census Tracts                                               float64
Seattle Police Department Micro Community Policing Plan Areas    float64
City Council Districts                                           float64
SPD Beats                                                        float64
Zip Codes                                                          int64
dtype: object

,OSEBuildingID,DataYear,CouncilDistrictCode,YearBuilt,NumberofBuildings,...,2010 Census Tracts,Seattle Police Department Micro Community Policing Plan Areas,City Council Districts,SPD Beats,Zip Codes
count,3340.000000,3340.0,3340.000000,3340.000000,3340.000000,...,224.000000,3338.000000,213.000000,3338.000000,3340.000000
mean,20522.168263,2015.0,4.450898,1967.624850,1.035629,...,123.062500,32.380168,1.347418,24.825644,18786.680240
std,11511.515874,0.0,2.127203,32.949847,0.784463,...,5.812128,19.907567,0.477272,15.006287,588.604192
min,1.000000,2015.0,1.000000,1900.000000,1.000000,...,116.000000,1.000000,1.000000,1.000000,17916.000000
25%,19921.750000,2015.0,3.000000,1947.000000,1.000000,...,117.000000,14.000000,1.000000,10.000000,18379.000000
50%,22977.000000,2015.0,4.000000,1973.000000,1.000000,...,123.000000,33.000000,1.000000,26.000000,18390.000000
75%,25748.000000,2015.0,7.000000,1996.000000,1.000000,...,125.500000,50.000000,2.000000,38.000000,19576.000000
max,50059.000000,2015.0,7.000000,2015.000000,39.000000,...,135.000000,61.000000,2.000000,51.000000,19584.000000

In [4]:
df_2016 = pd.read_csv('./../input/2016-building-energy-benchmarking.csv')

df_2016.head()

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,...,Comments,ComplianceStatus,Outlier,TotalGHGEmissions,GHGEmissionsIntensity
0,1,2016,NonResidential,Hotel,Mayflower park hotel,...,NaN,Compliant,NaN,249.98,2.83
1,2,2016,NonResidential,Hotel,Paramount Hotel,...,NaN,Compliant,NaN,295.86,2.86
2,3,2016,NonResidential,Hotel,5673-The Westin Seattle,...,NaN,Compliant,NaN,2089.28,2.19
3,5,2016,NonResidential,Hotel,HOTEL MAX,...,NaN,Compliant,NaN,286.43,4.67
4,8,2016,NonResidential,Hotel,WARWICK SEATTLE HOTEL (ID8),...,NaN,Compliant,NaN,505.01,2.88

In [5]:
print(df_2016.columns)
print(df_2016.shape)
print(df_2016.dtypes)
df_2016.describe()

print(df_2016.isna().sum())

Index(['OSEBuildingID', 'DataYear', 'BuildingType', 'PrimaryPropertyType',
       'PropertyName', 'Address', 'City', 'State', 'ZipCode',
       'TaxParcelIdentificationNumber', 'CouncilDistrictCode', 'Neighborhood',
       'Latitude', 'Longitude', 'YearBuilt', 'NumberofBuildings',
       'NumberofFloors', 'PropertyGFATotal', 'PropertyGFAParking',
       'PropertyGFABuilding(s)', 'ListOfAllPropertyUseTypes',
       'LargestPropertyUseType', 'LargestPropertyUseTypeGFA',
       'SecondLargestPropertyUseType', 'SecondLargestPropertyUseTypeGFA',
       'ThirdLargestPropertyUseType', 'ThirdLargestPropertyUseTypeGFA',
       'YearsENERGYSTARCertified', 'ENERGYSTARScore', 'SiteEUI(kBtu/sf)',
       'SiteEUIWN(kBtu/sf)', 'SourceEUI(kBtu/sf)', 'SourceEUIWN(kBtu/sf)',
       'SiteEnergyUse(kBtu)', 'SiteEnergyUseWN(kBtu)', 'SteamUse(kBtu)',
       'Electricity(kWh)', 'Electricity(kBtu)', 'NaturalGas(therms)',
       'NaturalGas(kBtu)', 'DefaultData', 'Comments', 'ComplianceStatus',
       'Outlier', 'TotalGHGEmissions', 'GHGEmissionsIntensity'],
      dtype='object')
(3376, 46)
OSEBuildingID                        int64
DataYear                             int64
BuildingType                        object
PrimaryPropertyType                 object
PropertyName                        object
Address                             object
City                                object
State                               object
ZipCode                            float64
TaxParcelIdentificationNumber       object
CouncilDistrictCode                  int64
Neighborhood                        object
Latitude                           float64
Longitude                          float64
YearBuilt                            int64
NumberofBuildings                  float64
NumberofFloors                       int64
PropertyGFATotal                     int64
PropertyGFAParking                   int64
PropertyGFABuilding(s)               int64
ListOfAllPropertyUseTypes           object
LargestPropertyUseType              object
LargestPropertyUseTypeGFA          float64
SecondLargestPropertyUseType        object
SecondLargestPropertyUseTypeGFA    float64
ThirdLargestPropertyUseType         object
ThirdLargestPropertyUseTypeGFA     float64
YearsENERGYSTARCertified            object
ENERGYSTARScore                    float64
SiteEUI(kBtu/sf)                   float64
SiteEUIWN(kBtu/sf)                 float64
SourceEUI(kBtu/sf)                 float64
SourceEUIWN(kBtu/sf)               float64
SiteEnergyUse(kBtu)                float64
SiteEnergyUseWN(kBtu)              float64
SteamUse(kBtu)                     float64
Electricity(kWh)                   float64
Electricity(kBtu)                  float64
NaturalGas(therms)                 float64
NaturalGas(kBtu)                   float64
DefaultData                           bool
Comments                           float64
ComplianceStatus                    object
Outlier                             object
TotalGHGEmissions                  float64
GHGEmissionsIntensity              float64
dtype: object
OSEBuildingID                         0
DataYear                              0
BuildingType                          0
PrimaryPropertyType                   0
PropertyName                          0
Address                               0
City                                  0
State                                 0
ZipCode                              16
TaxParcelIdentificationNumber         0
CouncilDistrictCode                   0
Neighborhood                          0
Latitude                              0
Longitude                             0
YearBuilt                             0
NumberofBuildings                     8
NumberofFloors                        0
PropertyGFATotal                      0
PropertyGFAParking                    0
PropertyGFABuilding(s)                0
ListOfAllPropertyUseTypes             9
LargestPropertyUseType               20
LargestPropertyUseTypeGFA            20
SecondLargestPropertyUseType       1697
SecondLargestPropertyUseTypeGFA    1697
ThirdLargestPropertyUseType        2780
ThirdLargestPropertyUseTypeGFA     2780
YearsENERGYSTARCertified           3257
ENERGYSTARScore                     843
SiteEUI(kBtu/sf)                      7
SiteEUIWN(kBtu/sf)                    6
SourceEUI(kBtu/sf)                    9
SourceEUIWN(kBtu/sf)                  9
SiteEnergyUse(kBtu)                   5
SiteEnergyUseWN(kBtu)                 6
SteamUse(kBtu)                        9
Electricity(kWh)                      9
Electricity(kBtu)                     9
NaturalGas(therms)                    9
NaturalGas(kBtu)                      9
DefaultData                           0
Comments                           3376
ComplianceStatus                      0
Outlier                            3344
TotalGHGEmissions                     9
GHGEmissionsIntensity                 9
dtype: int64

The two datasets doesn't have the same number of variables (47 in 2015, 46 in 2016).

Let's find the variables that exists in both datasets and the ones who are only in one of them.

In [6]:
common_cols = list(set.intersection(*(set(df.columns) for df in [df_2015, df_2016])))

common_cols

['PropertyGFATotal',
 'LargestPropertyUseTypeGFA',
 'NaturalGas(therms)',
 'DefaultData',
 'Neighborhood',
 'ThirdLargestPropertyUseType',
 'NaturalGas(kBtu)',
 'SiteEUI(kBtu/sf)',
 'DataYear',
 'SecondLargestPropertyUseType',
 'SiteEnergyUseWN(kBtu)',
 'PropertyName',
 'ThirdLargestPropertyUseTypeGFA',
 'PrimaryPropertyType',
 'SiteEUIWN(kBtu/sf)',
 'Electricity(kWh)',
 'SecondLargestPropertyUseTypeGFA',
 'SiteEnergyUse(kBtu)',
 'SourceEUIWN(kBtu/sf)',
 'YearsENERGYSTARCertified',
 'LargestPropertyUseType',
 'BuildingType',
 'NumberofBuildings',
 'SourceEUI(kBtu/sf)',
 'PropertyGFABuilding(s)',
 'NumberofFloors',
 'TaxParcelIdentificationNumber',
 'CouncilDistrictCode',
 'SteamUse(kBtu)',
 'YearBuilt',
 'Electricity(kBtu)',
 'OSEBuildingID',
 'ENERGYSTARScore',
 'ComplianceStatus',
 'ListOfAllPropertyUseTypes',
 'PropertyGFAParking',
 'Outlier']

In [7]:
different_cols = list(set.symmetric_difference(*(set(df.columns) for df in [df_2015, df_2016])))

different_cols

['GHGEmissions(MetricTonsCO2e)',
 'GHGEmissionsIntensity(kgCO2e/ft2)',
 'Location',
 'Latitude',
 '2010 Census Tracts',
 'OtherFuelUse(kBtu)',
 'Zip Codes',
 'City',
 'ZipCode',
 'Address',
 'TotalGHGEmissions',
 'GHGEmissionsIntensity',
 'State',
 'Comment',
 'City Council Districts',
 'Comments',
 'Seattle Police Department Micro Community Policing Plan Areas',
 'SPD Beats',
 'Longitude']

Alright !

Some "different" variables are easy to merge : 

* "Comment" and "Comments" ;
* "ZipCode" and "Zip Codes" ;
* "TotalGHGEmissions" and "GHGEmissions(MetricTonsCO2e)" ;
* "GHGEmissionsIntensity" and "GHGEmissionsIntensity(kgCO2e/ft2)" ;

In [8]:
import ast

print(df_2015['Zip Codes'].unique())

print(df_2016['ZipCode'].unique())


test_data = {}

parsed_location = ast.literal_eval(df_2015.Location[0])

test_data['latitude'] = parsed_location['latitude']
test_data['longitude'] = parsed_location['longitude']
parsed_human_address = ast.literal_eval(parsed_location['human_address'])
test_data['address'] = parsed_human_address['address']
test_data['city'] = parsed_human_address['city']
test_data['state'] = parsed_human_address['state']
test_data['zip'] = parsed_human_address['zip']

print(test_data)

[18081 19576 18379 18800 18383 18789 19579 18390 18377 18235 18792 18386
 17919 19575 19578 19581 19582 17920 18385 18388 19584 18798 17916 18795
 17923 17926 18229 18376 18230]
[98101. 98121. 98104. 98154. 98118. 98105. 98112. 98125. 98109. 98070.
 98108. 98199. 98115. 98107. 98144. 98103. 98119. 98136. 98122. 98126.
 98133. 98146. 98033. 98106. 98111. 98134. 98117. 98116. 98191. 98164.
 98195. 98185. 98181. 98102. 98168. 98155. 98006. 98124. 98053. 98012.
 98013. 98028. 98178. 98114. 98127. 98165. 98011. 98198. 98113. 98040.
 98204. 98177. 98020. 98272. 98145.    nan]
{'latitude': '47.61219025', 'longitude': '-122.33799744', 'address': '405 OLIVE WAY', 'city': 'SEATTLE', 'state': 'WA', 'zip': '98101'}

The `Zip Codes` variable from 2015 data looks invalid, we will rebuild it from the `Location` variable.

In [9]:
import ast

def extract_data_from_location(row: pd.Series) -> pd.Series:
    building = row.copy()
    parsed_location = ast.literal_eval(building.Location)
    building['Latitude'] = parsed_location['latitude']
    building['Longitude'] = parsed_location['longitude']
    parsed_human_address = ast.literal_eval(parsed_location['human_address'])
    building['Address'] = parsed_human_address['address']
    building['City'] = parsed_human_address['city']
    building['State'] = parsed_human_address['state']
    building['ZipCode'] = parsed_human_address['zip']
    
    return building

df_2015 = df_2015.apply(extract_data_from_location, axis='columns')

df_2015.head()

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,...,Longitude,Address,City,State,ZipCode
0,1,2015,NonResidential,Hotel,MAYFLOWER PARK HOTEL,...,-122.33799744,405 OLIVE WAY,SEATTLE,WA,98101
1,2,2015,NonResidential,Hotel,PARAMOUNT HOTEL,...,-122.33335756,724 PINE ST,SEATTLE,WA,98101
2,3,2015,NonResidential,Hotel,WESTIN HOTEL,...,-122.33769944,1900 5TH AVE,SEATTLE,WA,98101
3,5,2015,NonResidential,Hotel,HOTEL MAX,...,-122.33660889,620 STEWART ST,SEATTLE,WA,98101
4,8,2015,NonResidential,Hotel,WARWICK SEATTLE HOTEL,...,-122.3409238,401 LENORA ST,SEATTLE,WA,98121

In [10]:
df_2015.rename(columns={
    'Comment': 'Comments',
    'GHGEmissions(MetricTonsCO2e)': 'TotalGHGEmissions',
    'GHGEmissionsIntensity(kgCO2e/ft2)': 'GHGEmissionsIntensity'
}, inplace=True)

df_2015

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,...,Longitude,Address,City,State,ZipCode
0,1,2015,NonResidential,Hotel,MAYFLOWER PARK HOTEL,...,-122.33799744,405 OLIVE WAY,SEATTLE,WA,98101
1,2,2015,NonResidential,Hotel,PARAMOUNT HOTEL,...,-122.33335756,724 PINE ST,SEATTLE,WA,98101
2,3,2015,NonResidential,Hotel,WESTIN HOTEL,...,-122.33769944,1900 5TH AVE,SEATTLE,WA,98101
3,5,2015,NonResidential,Hotel,HOTEL MAX,...,-122.33660889,620 STEWART ST,SEATTLE,WA,98101
4,8,2015,NonResidential,Hotel,WARWICK SEATTLE HOTEL,...,-122.3409238,401 LENORA ST,SEATTLE,WA,98121
...,...,...,...,...,...,...,...,...,...,...,...
3335,50049,2015,Multifamily LR (1-4),Low-Rise Multifamily,PACIFIC CENTER CONDOMINIUM,...,-122.32034302,321 10TH AVE S,SEATTLE,WA,98104
3336,50055,2015,Multifamily MR (5-9),Mid-Rise Multifamily,IDENTITY APTS 4123,...,-122.3160159,4123 12TH AVE NE,SEATTLE,WA,98105
3337,50057,2015,Multifamily HR (10+),High-Rise Multifamily,CIRRUS,...,-122.33770787,2030 8TH AVE,SEATTLE,WA,98121
3338,50058,2015,Multifamily LR (1-4),Low-Rise Multifamily,WEDGEWOOD ESTATES BLDG A,...,-122.2874088,3801 NE 77TH ST,SEATTLE,WA,98115
3339,50059,2015,Multifamily LR (1-4),Low-Rise Multifamily,WEDGEWOOD ESTATES BLDG B,...,-122.2874088,7540 37TH AVE NE,SEATTLE,WA,98115

In [11]:
# Data about Seattle Police Department doesnt exists in 2016
df_2015.drop(columns=[
    'SPD Beats',
    'Seattle Police Department Micro Community Policing Plan Areas',
    '2010 Census Tracts',
    'OtherFuelUse(kBtu)',
    'City Council Districts',
    'Location',
    'Zip Codes',
], inplace=True)

In [12]:
df_2015

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,...,Longitude,Address,City,State,ZipCode
0,1,2015,NonResidential,Hotel,MAYFLOWER PARK HOTEL,...,-122.33799744,405 OLIVE WAY,SEATTLE,WA,98101
1,2,2015,NonResidential,Hotel,PARAMOUNT HOTEL,...,-122.33335756,724 PINE ST,SEATTLE,WA,98101
2,3,2015,NonResidential,Hotel,WESTIN HOTEL,...,-122.33769944,1900 5TH AVE,SEATTLE,WA,98101
3,5,2015,NonResidential,Hotel,HOTEL MAX,...,-122.33660889,620 STEWART ST,SEATTLE,WA,98101
4,8,2015,NonResidential,Hotel,WARWICK SEATTLE HOTEL,...,-122.3409238,401 LENORA ST,SEATTLE,WA,98121
...,...,...,...,...,...,...,...,...,...,...,...
3335,50049,2015,Multifamily LR (1-4),Low-Rise Multifamily,PACIFIC CENTER CONDOMINIUM,...,-122.32034302,321 10TH AVE S,SEATTLE,WA,98104
3336,50055,2015,Multifamily MR (5-9),Mid-Rise Multifamily,IDENTITY APTS 4123,...,-122.3160159,4123 12TH AVE NE,SEATTLE,WA,98105
3337,50057,2015,Multifamily HR (10+),High-Rise Multifamily,CIRRUS,...,-122.33770787,2030 8TH AVE,SEATTLE,WA,98121
3338,50058,2015,Multifamily LR (1-4),Low-Rise Multifamily,WEDGEWOOD ESTATES BLDG A,...,-122.2874088,3801 NE 77TH ST,SEATTLE,WA,98115
3339,50059,2015,Multifamily LR (1-4),Low-Rise Multifamily,WEDGEWOOD ESTATES BLDG B,...,-122.2874088,7540 37TH AVE NE,SEATTLE,WA,98115

In [13]:
assert len(list(set.symmetric_difference(*(set(df.columns) for df in [df_2015, df_2016])))) == 0, 'Structures between dfs are differents'

In [14]:
buildings = pd.concat([df_2015, df_2016], axis = 'rows')

buildings

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,...,Longitude,Address,City,State,ZipCode
0,1,2015,NonResidential,Hotel,MAYFLOWER PARK HOTEL,...,-122.33799744,405 OLIVE WAY,SEATTLE,WA,98101
1,2,2015,NonResidential,Hotel,PARAMOUNT HOTEL,...,-122.33335756,724 PINE ST,SEATTLE,WA,98101
2,3,2015,NonResidential,Hotel,WESTIN HOTEL,...,-122.33769944,1900 5TH AVE,SEATTLE,WA,98101
3,5,2015,NonResidential,Hotel,HOTEL MAX,...,-122.33660889,620 STEWART ST,SEATTLE,WA,98101
4,8,2015,NonResidential,Hotel,WARWICK SEATTLE HOTEL,...,-122.3409238,401 LENORA ST,SEATTLE,WA,98121
...,...,...,...,...,...,...,...,...,...,...,...
3371,50222,2016,Nonresidential COS,Office,Horticulture building,...,-122.31154,1600 S Dakota St,Seattle,WA,NaN
3372,50223,2016,Nonresidential COS,Other,International district/Chinatown CC,...,-122.32283,719 8th Ave S,Seattle,WA,NaN
3373,50224,2016,Nonresidential COS,Other,Queen Anne Pool,...,-122.35784,1920 1st Ave W,Seattle,WA,NaN
3374,50225,2016,Nonresidential COS,Mixed Use Property,South Park Community Center,...,-122.32431,8319 8th Ave S,Seattle,WA,NaN
3375,50226,2016,Nonresidential COS,Mixed Use Property,Van Asselt Community Center,...,-122.29536,2820 S Myrtle St,Seattle,WA,NaN

The study is only about Non residential buildings, we must filter our data.

In [15]:
print(buildings['BuildingType'].unique())

['NonResidential' 'Nonresidential COS' 'Multifamily MR (5-9)'
 'SPS-District K-12' 'Multifamily LR (1-4)' 'Campus'
 'Multifamily HR (10+)' 'Nonresidential WA']

We remove every building of the following types :

* Multifamily MR (5-9)
* Multifamily LR (1-4)
* Multifamily HR (10+)

In [16]:
buildings = buildings[~buildings['BuildingType'].isin(['Multifamily LR (1-4)', 'Multifamily MR (5-9)', 'Multifamily HR (10+)'])]

buildings

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,...,Longitude,Address,City,State,ZipCode
0,1,2015,NonResidential,Hotel,MAYFLOWER PARK HOTEL,...,-122.33799744,405 OLIVE WAY,SEATTLE,WA,98101
1,2,2015,NonResidential,Hotel,PARAMOUNT HOTEL,...,-122.33335756,724 PINE ST,SEATTLE,WA,98101
2,3,2015,NonResidential,Hotel,WESTIN HOTEL,...,-122.33769944,1900 5TH AVE,SEATTLE,WA,98101
3,5,2015,NonResidential,Hotel,HOTEL MAX,...,-122.33660889,620 STEWART ST,SEATTLE,WA,98101
4,8,2015,NonResidential,Hotel,WARWICK SEATTLE HOTEL,...,-122.3409238,401 LENORA ST,SEATTLE,WA,98121
...,...,...,...,...,...,...,...,...,...,...,...
3371,50222,2016,Nonresidential COS,Office,Horticulture building,...,-122.31154,1600 S Dakota St,Seattle,WA,NaN
3372,50223,2016,Nonresidential COS,Other,International district/Chinatown CC,...,-122.32283,719 8th Ave S,Seattle,WA,NaN
3373,50224,2016,Nonresidential COS,Other,Queen Anne Pool,...,-122.35784,1920 1st Ave W,Seattle,WA,NaN
3374,50225,2016,Nonresidential COS,Mixed Use Property,South Park Community Center,...,-122.32431,8319 8th Ave S,Seattle,WA,NaN
3375,50226,2016,Nonresidential COS,Mixed Use Property,Van Asselt Community Center,...,-122.29536,2820 S Myrtle St,Seattle,WA,NaN

In [17]:
buildings.isna().sum()

OSEBuildingID                         0
DataYear                              0
BuildingType                          0
PrimaryPropertyType                   0
PropertyName                          0
TaxParcelIdentificationNumber         1
CouncilDistrictCode                   0
Neighborhood                          0
YearBuilt                             0
NumberofBuildings                     2
NumberofFloors                        8
PropertyGFATotal                      0
PropertyGFAParking                    0
PropertyGFABuilding(s)                0
ListOfAllPropertyUseTypes            63
LargestPropertyUseType               71
LargestPropertyUseTypeGFA            71
SecondLargestPropertyUseType       1651
SecondLargestPropertyUseTypeGFA    1651
ThirdLargestPropertyUseType        2634
ThirdLargestPropertyUseTypeGFA     2634
YearsENERGYSTARCertified           3130
ENERGYSTARScore                    1107
SiteEUI(kBtu/sf)                     10
SiteEUIWN(kBtu/sf)                   10
SourceEUI(kBtu/sf)                    9
SourceEUIWN(kBtu/sf)                  9
SiteEnergyUse(kBtu)                   9
SiteEnergyUseWN(kBtu)                10
SteamUse(kBtu)                        9
Electricity(kWh)                      9
Electricity(kBtu)                     9
NaturalGas(therms)                    9
NaturalGas(kBtu)                      9
TotalGHGEmissions                     9
GHGEmissionsIntensity                 9
DefaultData                           1
Comments                           3306
ComplianceStatus                      0
Outlier                            3270
Latitude                              0
Longitude                             0
Address                               0
City                                  0
State                                 0
ZipCode                              16
dtype: int64

The targets to predict are the following:
* `TotalGHGEmissions`
* `Electricity(kBtu)`

> Btu stands for "British thermal unit" : 1kWh = 3.412 kBtu (direct relationship)

They chose this target over `Electricity(kWh)` because most of the other related variables are also in Btu.

Now let's clean some variables names and suffix our targets with `target` so we remember which variables we want to predict.

In [18]:
buildings.columns

Index(['OSEBuildingID', 'DataYear', 'BuildingType', 'PrimaryPropertyType',
       'PropertyName', 'TaxParcelIdentificationNumber', 'CouncilDistrictCode',
       'Neighborhood', 'YearBuilt', 'NumberofBuildings', 'NumberofFloors',
       'PropertyGFATotal', 'PropertyGFAParking', 'PropertyGFABuilding(s)',
       'ListOfAllPropertyUseTypes', 'LargestPropertyUseType',
       'LargestPropertyUseTypeGFA', 'SecondLargestPropertyUseType',
       'SecondLargestPropertyUseTypeGFA', 'ThirdLargestPropertyUseType',
       'ThirdLargestPropertyUseTypeGFA', 'YearsENERGYSTARCertified',
       'ENERGYSTARScore', 'SiteEUI(kBtu/sf)', 'SiteEUIWN(kBtu/sf)',
       'SourceEUI(kBtu/sf)', 'SourceEUIWN(kBtu/sf)', 'SiteEnergyUse(kBtu)',
       'SiteEnergyUseWN(kBtu)', 'SteamUse(kBtu)', 'Electricity(kWh)',
       'Electricity(kBtu)', 'NaturalGas(therms)', 'NaturalGas(kBtu)',
       'TotalGHGEmissions', 'GHGEmissionsIntensity', 'DefaultData', 'Comments',
       'ComplianceStatus', 'Outlier', 'Latitude', 'Longitude', 'Address',
       'City', 'State', 'ZipCode'],
      dtype='object')

In [19]:
def clean_variables_names(df):
    df.columns = df.columns.str.strip().str.replace(r'(?<!^)(?=[A-Z])', '_', regex=True).str.lower()
    
    df.rename(columns={
        'o_s_e_building_i_d': 'building_id',
        'numberof_buildings': 'number_of_buildings',
        'numberof_floors': 'number_of_floors',
        'property_g_f_a_total': 'property_gfa_total',
        'property_g_f_a_parking': 'property_gfa_parking',
        'property_g_f_a_building(s)': 'property_gfa_building',
        'largest_property_use_type_g_f_a': 'largest_property_use_type_gfa',
        'second_largest_property_use_type_g_f_a': 'second_largest_property_use_type_gfa',
        'third_largest_property_use_type_g_f_a': 'third_largest_property_use_type_gfa',
        'years_e_n_e_r_g_y_s_t_a_r_certified': 'years_energy_star_certified',
        'e_n_e_r_g_y_s_t_a_r_score': 'energystar_score',
        'site_e_u_i(k_btu/sf)': 'site_eui',
        'site_e_u_i_w_n(k_btu/sf)': 'site_euiwn',
        'source_e_u_i(k_btu/sf)': 'source_eui',
        'source_e_u_i_w_n(k_btu/sf)': 'source_euiwn',
        'site_energy_use(k_btu)': 'site_energy_use',
        'site_energy_use_w_n(k_btu)': 'site_energy_use_wn',
        'steam_use(k_btu)': 'steam_use',
        'electricity(k_wh)': 'electricity_kwh',
        'electricity(k_btu)': 'electricity_target',
        'natural_gas(therms)': 'natural_gas_therms',
        'natural_gas(k_btu)': 'natural_gas',
        'total_g_h_g_emissions': 'emissions_target',
        'g_h_g_emissions_intensity': 'emissions_intensity'
    }, inplace=True)
    
    return df

clean_variables_names(buildings)

buildings.columns

C:\Users\micka\anaconda3\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

Index(['building_id', 'data_year', 'building_type', 'primary_property_type',
       'property_name', 'tax_parcel_identification_number',
       'council_district_code', 'neighborhood', 'year_built',
       'number_of_buildings', 'number_of_floors', 'property_gfa_total',
       'property_gfa_parking', 'property_gfa_building',
       'list_of_all_property_use_types', 'largest_property_use_type',
       'largest_property_use_type_gfa', 'second_largest_property_use_type',
       'second_largest_property_use_type_gfa',
       'third_largest_property_use_type',
       'third_largest_property_use_type_gfa', 'years_energy_star_certified',
       'energystar_score', 'site_eui', 'site_euiwn', 'source_eui',
       'source_euiwn', 'site_energy_use', 'site_energy_use_wn', 'steam_use',
       'electricity_kwh', 'electricity_target', 'natural_gas_therms',
       'natural_gas', 'emissions_target', 'emissions_intensity',
       'default_data', 'comments', 'compliance_status', 'outlier', 'latitude',
       'longitude', 'address', 'city', 'state', 'zip_code'],
      dtype='object')

In [20]:
buildings

,building_id,data_year,building_type,primary_property_type,property_name,...,longitude,address,city,state,zip_code
0,1,2015,NonResidential,Hotel,MAYFLOWER PARK HOTEL,...,-122.33799744,405 OLIVE WAY,SEATTLE,WA,98101
1,2,2015,NonResidential,Hotel,PARAMOUNT HOTEL,...,-122.33335756,724 PINE ST,SEATTLE,WA,98101
2,3,2015,NonResidential,Hotel,WESTIN HOTEL,...,-122.33769944,1900 5TH AVE,SEATTLE,WA,98101
3,5,2015,NonResidential,Hotel,HOTEL MAX,...,-122.33660889,620 STEWART ST,SEATTLE,WA,98101
4,8,2015,NonResidential,Hotel,WARWICK SEATTLE HOTEL,...,-122.3409238,401 LENORA ST,SEATTLE,WA,98121
...,...,...,...,...,...,...,...,...,...,...,...
3371,50222,2016,Nonresidential COS,Office,Horticulture building,...,-122.31154,1600 S Dakota St,Seattle,WA,NaN
3372,50223,2016,Nonresidential COS,Other,International district/Chinatown CC,...,-122.32283,719 8th Ave S,Seattle,WA,NaN
3373,50224,2016,Nonresidential COS,Other,Queen Anne Pool,...,-122.35784,1920 1st Ave W,Seattle,WA,NaN
3374,50225,2016,Nonresidential COS,Mixed Use Property,South Park Community Center,...,-122.32431,8319 8th Ave S,Seattle,WA,NaN
3375,50226,2016,Nonresidential COS,Mixed Use Property,Van Asselt Community Center,...,-122.29536,2820 S Myrtle St,Seattle,WA,NaN

We think the variable `building_id` is an unique identifier, but we only need to keep one entry for each unique entry.

This means we must agregate every numerical variable while grouping on the `building_id`:

In [21]:
# @TODO create the corresponding function
numerical_variables = list(buildings.select_dtypes('number'))
unique_buildings = buildings[numerical_variables].groupby('building_id').mean()
unique_buildings['is_agregation'] = unique_buildings['data_year'] == 2015.5
unique_buildings

,data_year,council_district_code,year_built,number_of_buildings,number_of_floors,...,natural_gas_therms,natural_gas,emissions_target,emissions_intensity,is_agregation
building_id,,,,,,,,,,,
1,2015.5,7.0,1927.0,1.0,12.0,...,12744.264650,1.274420e+06,249.705,2.735,True
2,2015.5,7.0,1996.0,1.0,11.0,...,47970.408205,4.797034e+06,279.685,2.620,True
3,2015.5,7.0,1969.0,1.0,41.0,...,26018.500000,2.601850e+06,2075.380,2.055,True
5,2015.5,7.0,1926.0,1.0,10.0,...,19065.565430,1.906554e+06,1111.385,18.025,True
8,2015.5,7.0,1980.0,1.0,18.0,...,87835.492190,8.783552e+06,506.355,3.450,True
...,...,...,...,...,...,...,...,...,...,...,...
50222,2016.0,2.0,1990.0,1.0,1.0,...,3254.750244,3.254750e+05,20.940,1.700,False
50223,2016.0,2.0,2004.0,1.0,1.0,...,5537.299805,5.537300e+05,32.170,2.010,False
50224,2016.0,7.0,1974.0,1.0,1.0,...,39737.390630,3.973739e+06,223.540,16.990,False
50225,2016.0,1.0,1989.0,1.0,1.0,...,3706.010010,3.706010e+05,22.110,1.570,False
50226,2016.0,2.0,1938.0,1.0,1.0,...,7203.419922,7.203420e+05,41.270,2.260,False

In [22]:
# now let's keep only the last value when there are duplications
deduplicated_buildings = buildings.sort_values('data_year').drop_duplicates(subset = ['building_id'], keep = 'last')

deduplicated_buildings

,building_id,data_year,building_type,primary_property_type,property_name,...,longitude,address,city,state,zip_code
1720,23163,2015,NonResidential,Medical Office,LESCHI CENTER,...,-122.3168033,606 12TH AVE S,SEATTLE,WA,98144
2108,24408,2015,SPS-District K-12,K-12 School,WILSON-PACIFIC (SPS-DISTRICT),...,-122.3401878,1330 N 90TH ST,SEATTLE,WA,98103
1945,23848,2015,NonResidential,Restaurant\n,SPAGHETTI FACTORY,...,-122.354154,2815 ELLIOTT AVE,SEATTLE,WA,98121
1305,21471,2015,NonResidential,Other,EITEL BUILDING (2ND AND PIKE BUILDING),...,-122.33934021,1501 2ND AVE,SEATTLE,WA,98101
1213,21237,2015,NonResidential,Retail Store,STAPLES,...,-122.3432661,13240 AURORA AVE N,SEATTLE,WA,98133
...,...,...,...,...,...,...,...,...,...,...,...
559,775,2016,NonResidential,Large Office,Columbia Center - 2015,...,-122.33072,701 5th Avenue,Seattle,WA,98104.0
558,753,2016,NonResidential,Other,WestinBuilding,...,-122.33871,2001 6th Ave,Seattle,WA,98121.0
557,752,2016,NonResidential,Large Office,ACTIVE VOICE,...,-122.33969,2033 6th Ave,Seattle,WA,98121.0
633,857,2016,NonResidential,Warehouse,3480 W Marginal Way SW,...,-122.3601,3480 W Marginal Way SW,Seattle,WA,98053.0
3375,50226,2016,Nonresidential COS,Mixed Use Property,Van Asselt Community Center,...,-122.29536,2820 S Myrtle St,Seattle,WA,NaN

Now we need to merge the categorical and numerical variables :

In [23]:
numerical_variables.remove('building_id')

deduplicated_buildings.drop(numerical_variables, axis = 'columns', inplace = True)
final_buildings = deduplicated_buildings.merge(unique_buildings, on = 'building_id', how = 'left')
final_buildings

,building_id,building_type,primary_property_type,property_name,tax_parcel_identification_number,...,natural_gas_therms,natural_gas,emissions_target,emissions_intensity,is_agregation
0,23163,NonResidential,Medical Office,LESCHI CENTER,8170100430,...,0.000000,0.000000e+00,12.540,0.110,False
1,24408,SPS-District K-12,K-12 School,WILSON-PACIFIC (SPS-DISTRICT),3126049064,...,NaN,NaN,NaN,NaN,False
2,23848,NonResidential,Restaurant\n,SPAGHETTI FACTORY,7666202305,...,20028.000000,2.002751e+06,119.010,2.760,False
3,21471,NonResidential,Other,EITEL BUILDING (2ND AND PIKE BUILDING),1975700645,...,335.000000,3.345700e+04,4.430,0.060,False
4,21237,NonResidential,Retail Store,STAPLES,1926049431,...,5507.000000,5.506860e+05,35.110,1.330,False
...,...,...,...,...,...,...,...,...,...,...,...
1693,775,NonResidential,Large Office,Columbia Center - 2015,0942000640,...,44473.816405,4.447364e+06,858.760,0.340,True
1694,753,NonResidential,Other,WestinBuilding,0659000950,...,1511.360108,1.511555e+05,1957.390,3.135,True
1695,752,NonResidential,Large Office,ACTIVE VOICE,0659000930,...,13514.160155,1.351432e+06,334.705,1.905,True
1696,857,NonResidential,Warehouse,3480 W Marginal Way SW,7666705088,...,1833.715027,1.833580e+05,16.525,0.095,True
1697,50226,Nonresidential COS,Mixed Use Property,Van Asselt Community Center,7857002030,...,7203.419922,7.203420e+05,41.270,2.260,False

## Managing null values

In [24]:
final_buildings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1698 entries, 0 to 1697
Data columns (total 47 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   building_id                           1698 non-null   int64
 1   building_type                         1698 non-null   object
 2   primary_property_type                 1698 non-null   object
 3   property_name                         1698 non-null   object
 4   tax_parcel_identification_number      1698 non-null   object
 5   neighborhood                          1698 non-null   object
 6   list_of_all_property_use_types        1690 non-null   object
 7   largest_property_use_type             1686 non-null   object
 8   second_largest_property_use_type      866 non-null    object
 9   third_largest_property_use_type       356 non-null    object
 10  years_energy_star_certified           99 non-null     object
 11  default_data                          1698 non-null   object
 12  comments                              1 non-null      object
 13  compliance_status                     1698 non-null   object
 14  outlier                               19 non-null     object
 15  latitude                              1698 non-null   object
 16  longitude                             1698 non-null   object
 17  address                               1698 non-null   object
 18  city                                  1698 non-null   object
 19  state                                 1698 non-null   object
 20  zip_code                              1682 non-null   object
 21  data_year                             1698 non-null   float64
 22  council_district_code                 1698 non-null   float64
 23  year_built                            1698 non-null   float64
 24  number_of_buildings                   1698 non-null   float64
 25  number_of_floors                      1698 non-null   float64
 26  property_gfa_total                    1698 non-null   float64
 27  property_gfa_parking                  1698 non-null   float64
 28  property_gfa_building                 1698 non-null   float64
 29  largest_property_use_type_gfa         1686 non-null   float64
 30  second_largest_property_use_type_gfa  868 non-null    float64
 31  third_largest_property_use_type_gfa   361 non-null    float64
 32  energystar_score                      1154 non-null   float64
 33  site_eui                              1697 non-null   float64
 34  site_euiwn                            1697 non-null   float64
 35  source_eui                            1697 non-null   float64
 36  source_euiwn                          1697 non-null   float64
 37  site_energy_use                       1697 non-null   float64
 38  site_energy_use_wn                    1697 non-null   float64
 39  steam_use                             1697 non-null   float64
 40  electricity_kwh                       1697 non-null   float64
 41  electricity_target                    1697 non-null   float64
 42  natural_gas_therms                    1697 non-null   float64
 43  natural_gas                           1697 non-null   float64
 44  emissions_target                      1697 non-null   float64
 45  emissions_intensity                   1697 non-null   float64
 46  is_agregation                         1698 non-null   bool
dtypes: bool(1), float64(25), int64(1), object(20)
memory usage: 625.1+ KB

We have variables with not enough data to be usable to train a Machine Learning Model:

* `comments`
* `outlier`
* `years_energy_star_certified`
* `third_largest_property_use_type_gfa`
* `third_largest_property_use_type`

In [33]:
print(cleaned_buildings.state.unique()) # unique value
print(cleaned_buildings.city.unique()) # "Seattle", "SEATTLE"
print(len(cleaned_buildings.tax_parcel_identification_number.unique())) # almost unique ids ...

['WA']
['SEATTLE' 'Seattle']
1616

In [27]:
cleaned_buildings = final_buildings.drop([
    'comments',
    'outlier',
    'years_energy_star_certified',
    'third_largest_property_use_type_gfa',
    'third_largest_property_use_type'
], axis = 'columns')

cleaned_buildings

,building_id,building_type,primary_property_type,property_name,tax_parcel_identification_number,...,natural_gas_therms,natural_gas,emissions_target,emissions_intensity,is_agregation
0,23163,NonResidential,Medical Office,LESCHI CENTER,8170100430,...,0.000000,0.000000e+00,12.540,0.110,False
1,24408,SPS-District K-12,K-12 School,WILSON-PACIFIC (SPS-DISTRICT),3126049064,...,NaN,NaN,NaN,NaN,False
2,23848,NonResidential,Restaurant\n,SPAGHETTI FACTORY,7666202305,...,20028.000000,2.002751e+06,119.010,2.760,False
3,21471,NonResidential,Other,EITEL BUILDING (2ND AND PIKE BUILDING),1975700645,...,335.000000,3.345700e+04,4.430,0.060,False
4,21237,NonResidential,Retail Store,STAPLES,1926049431,...,5507.000000,5.506860e+05,35.110,1.330,False
...,...,...,...,...,...,...,...,...,...,...,...
1693,775,NonResidential,Large Office,Columbia Center - 2015,0942000640,...,44473.816405,4.447364e+06,858.760,0.340,True
1694,753,NonResidential,Other,WestinBuilding,0659000950,...,1511.360108,1.511555e+05,1957.390,3.135,True
1695,752,NonResidential,Large Office,ACTIVE VOICE,0659000930,...,13514.160155,1.351432e+06,334.705,1.905,True
1696,857,NonResidential,Warehouse,3480 W Marginal Way SW,7666705088,...,1833.715027,1.833580e+05,16.525,0.095,True
1697,50226,Nonresidential COS,Mixed Use Property,Van Asselt Community Center,7857002030,...,7203.419922,7.203420e+05,41.270,2.260,False

In [29]:
print(cleaned_buildings.state.unique())
print(cleaned_buildings.city.unique())

['WA']
['SEATTLE' 'Seattle']

In [25]:
#from pandas_profiling import ProfileReport
#profile = ProfileReport(buildings, title="Buildings Report", correlations={"cramers": {"calculate": False}})

#profile.to_notebook_iframe()

In [26]:
print('done')

done